<html>
  <head>
    <title>Excel Data</title>
    <script>
        function getData() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
              if (xhr.readyState == 4 && xhr.status == 200) {
                // Parse the data and populate the table
                var data = parseData(xhr.responseText);
                for (var i = 0; i < data.length; i++) {
                  var row = data[i];
                  var tr = document.createElement("tr");
                  for (var j = 0; j < row.length; j++) {
                    var td = document.createElement("td");
                    td.innerHTML = row[j];
                    tr.appendChild(td);
                  }
                  document.getElementById("dataTable").appendChild(tr);
                }
              }
            };
            xhr.open("GET", "/wgr_rankings.xlsx", true);
            xhr.send();
          }
        </script>
  </head>
  <body onload="getData()">
    <table id="dataTable">
      <tr>
        <th>Rank</th>
        <th>Golfer</th>
        <th>Update Time</th>
      </tr>
    </table>
<h1>Excel File</h1>
<iframe src="/wgr_rankings.html" width="800" height="600"></iframe>

</body>
</html>