<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
  <style>body{background-image: url('/media/masters.png');}</style>
    {% extends "template.html" %}
    {% block content %}
    
    <h1 style="color:blue; text-align:center;text-decoration: overline;"> About the Golf App </h1>
    <p> Flask is a micro web framework written in Python.</p>
    <p> Applications that use the Flask framework include Pinterest,
      LinkedIn, and the community web page for Flask itself.</p>
      
    {% endblock %}
  </body>
</html>