<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Tournaments</title>
      </head>

<body>
    <div id='Header'>
    <h1>Upcoming Tournaments</h1>
    <p>Below is a list of upcoming Tournaments</p>
    <p>Highlighted Tournments are those wages will be placed on</p>
    </div>
    <div>
        <h2>Upcoming Tournaments</h2>
    </div>
    <div id='Media'>
    </div>
    <div id='Links'>
        <ol>
        <li><a href='https://www.masters.com/index.html' target="_blank"><img src='../media/masters.png' alt="Masters Flag" height=120/></a> </li>
        </ol>    
    </div>
</body>
