<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>The Fun Page</title>
      </head>

<body>
    <div id='Header'>
    <h1>Testing Page (Header)</h1>
    <p>This is the child of body</p>
    </div>
    <div>
        <h2>Second Header</h2>
        <p>This is the grandchild of the body </p>
    </div>
    <div id='Media'>
        <video src='https://www.youtube.com/watch?v=BElR93Vynhg'controls>
            video not supported
        </video>
    </div>
    <div id='Links'>
        <a href='https://www.masters.com/index.html' target="_blank"><img src='../media/masters.png' alt="Masters Flag" height=120/></a> 
    </div>
</body>
