<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    
    <meta charset="utf-8">
    <title>Flask Parent Template</title>
    
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
    
</head>
  <body>
    <header>
      <div class="container">
        <h1 style="color:blue; text-align:center;background-color:green;text-decoration: underline;" class="logo"> The Famed Golf App </h1>
        <strong><nav>
          <ul class="menu">
            <li><a style="color:hotpink" href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('pictureex') }}">Current Tournament</a></li>
            <li><a href="{{ url_for('FunPage') }}">The Fun Learning Space</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    
{% block content %}
{% endblock %}

 </body>
</html>