<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

<style>
    body {margin:10px;}

        div.polaroid_gam {
          width:70px;
          vertical-align: bottom;
          z-index: -1;
          background-color: rgb(250, 250, 250);
          box-shadow: 0 1px 20px 0 rgba(245, 221, 1, 0.575), 0 6px 20px 0 rgba(236, 240, 6, 0.801);
          margin-bottom: 50px;
          align-items: normal;
        }
        
        div.container {
          text-align: center;
          color: rgb(0, 0, 0);
        }
</style>
        <meta charset="utf-8">
        <title>Tournaments</title>
</head>

<body>
    <div id='Header'>
    <h1>Upcoming Tournaments</h1>
    <p>Below is a list of upcoming Tournaments</p>
    <p>Highlighted Tournments are those wages will be placed on</p>
    </div>
    <div>
        <h2>Upcoming Tournaments</h2>
    </div>
    <div id='Media'>
    </div>
    <!--<div id='Links'>
         Image variation testing
        <ol>
        <li><a href='https://www.masters.com/index.html' target="_blank"><img src='../media/masters.png' alt="Masters Flag" height=70 /></a> </li>
        </ol>   
    </div>--> 
    <div class="polaroid_gam">
        <a href='https://www.masters.com/index.html' target="_blank"><img src="../Media/masters.png" height=auto width=auto alt="Masters flag"></a>
        <div class="container">
            <p><b>The Masters</b></p>
        </div>
    </div>
</body>
